<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      img {
        height: 200px;
        border-radius: 50%;
      }
    </style>
  </head>
  <body>
    <img src="/uploads/1752671798930.jpg" />
    <h1>User Name:</h1>
    <h3>Sameer</h3>
  </body>
</html>
