<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }

      body {
        background-color: #202020;
        color: aliceblue;
      }

      nav {
        height: 80px;
        padding: 0 20px;
        background-color: #000000;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .title {
        font-size: 24px;
      }

      .signs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 200px;
      }

      button {
        padding: 5px 10px;
        border-radius: 2rem;
      }
    </style>
  </head>

  <body>
    <nav>
      <div class="title">MapIt</div>
      <div class="signup">
        <a href="/signup"><button>Sign-Up</button></a>
      </div>
      <div class="signin">
        <a href="/signin"><button>Sign-In</button></a>
      </div>
    </nav>
    <%= successMsg %>
  </body>
</html>
